name: npm-pkg-lint

on: [push, pull_request]

jobs:
  npm-pkg-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        with:
          path: ~/.cache/npm-pkg-lint
          key: npm-pkg-lint
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run --if-present build
      - name: npm-pkg-lint
        run: |
          npm pack
          npm exec npm-pkg-lint
